  /*header*/
  
  header {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
  
	.link_logo {
	  width: 100%;
	  display: flex;
	  justify-content: center;
	}
	.index_back {
	  font-size: 20px;
	  padding-left: 10px;
	}
  }